@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "NanumSquareB";
    src: url(../fonts/NanumSquareB.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NanumSquareL";
    src: url(../fonts/NanumSquareL.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NanumSquareR";
    src: url(../fonts/NanumSquareR.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PretendardB";
    src: url(../fonts/PretendardB.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PretendardL";
    src: url(../fonts/PretendardL.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PretendardR";
    src: url(../fonts/PretendardR.otf);
    font-weight: normal;
    font-style: normal;
}

@layer base {
    html {
        font-family: "NanumSquareR", system-ui, sans-serif;
    }
}