@import "tailwindcss";

@theme {
  --color-primary-blog_black: #000000;
  --color-primary-blog_blue: #164EAB;
  --color-primary-blog_gray: #606060;
  --color-primary-blog_lightgray_1: #808080;
  --color-primary-blog_lightgray_2: #AAAAAA;
  --color-primary-blog_lightgray_3: #DDDDDD;
  --color-primary-blog_white: #FFFFFF;

  --font-nanum-b: NanumSquareB, sans-serif;
  --font-nanum-l: NanumSquareL, sans-serif;
  --font-nanum-r: NanumSquareR, sans-serif;
  --font-pretendard-b: PretendardB, sans-serif;
  --font-pretendard-l: PretendardL, sans-serif;
  --font-pretendard-r: PretendardR, sans-serif;
}

@font-face {
    font-family: "NanumSquareB";
    src: url(../fonts/NanumSquareB.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NanumSquareL";
    src: url(../fonts/NanumSquareL.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NanumSquareR";
    src: url(../fonts/NanumSquareR.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PretendardB";
    src: url(../fonts/PretendardB.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PretendardL";
    src: url(../fonts/PretendardL.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PretendardR";
    src: url(../fonts/PretendardR.otf);
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: var(--font-nanum-r), system-ui, sans-serif;
}